<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Affectation Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

        <a class="navbar-brand" href="/dashboard">Foyer System</a>

        <div class="collapse navbar-collapse">

            <ul class="navbar-nav me-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/students">Students</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/rooms">Rooms</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/affectations">Affectations</a>
                </li>

            </ul>

        </div>

    </div>
</nav>

<div class="container mt-5">

    <h2 class="mb-4">Affectation Form</h2>

    <form th:action="@{/affectations/save}" th:object="${affectation}" method="post">

        <div class="mb-3">
            <label>Student</label>
            <select class="form-control" th:field="*{studentId}">
                <option th:each="s : ${students}"
                        th:value="${s.id}"
                        th:text="${s.firstName + ' ' + s.lastName}">
                </option>
            </select>
        </div>

        <div class="mb-3">
            <label>Room</label>
            <select class="form-control" th:field="*{roomId}">
                <option th:each="r : ${rooms}"
                        th:value="${r.id}"
                        th:text="${r.roomNumber}">
                </option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>

        <a href="/affectations" class="btn btn-secondary">Back</a>

    </form>

</div>

</body>
</html>